footer{
  background: map_get($colors,second-d);
  position: relative;
  border-top: 5px solid map_get($colors,primary);
  color: map_get($colors, third-l);
}

footer .copyright{
  width: 100%;
  height: 100%;
  line-height: 50px;
  font-size: .75em;
  text-align: center;
  color: map_get($colors, third-l);
}